root = true

[*]
end_of_line = lf
insert_final_newline = true

# TIC-80 editor uses single character indents
# Using tabs allows larger indent size in other editors
[*.{lua,js,moon,wren,nut}]
charset = utf-8
indent_style = tab
indent_size = 4
